{
	"presets": [
        [
            "@babel/preset-env",
            {
                "targets": 
                    {
                        "node": 4
                    }
            }
        ],
        "@babel/preset-typescript"
	],
	"plugins": [
			"@babel/proposal-class-properties",
			"@babel/proposal-object-rest-spread",
            "@babel/plugin-transform-runtime"
	]
}